.container{
height: 100vh;
width: 100vw;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(50,77,109,1) 100%);
display :flex;
justify-content: center;
align-items: center;
min-height: 900px;
}
.flexcontainer{
  background-color: white;
  border-radius: 70px;
  width: 360px;
  height: 600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 15px; */

}
 img{
  box-shadow: 10px 15px gold;
  border-radius: 30px;
  height: 60%;
}
h2{
  font-weight: bold;
  font-size: 1.75rem;
}
p{
  font-size: 1.25rem;
}